body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.user-card {
  background: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.user-card img {
  width: 100px;
  border-radius: 50%;
}

.repo {
  background: #fff;
  padding: 10px;
  margin: 5px 0;
}

.loading, .error {
  text-align: center;
}

.error {
  color: red;
}
