* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #f4ff7e;
  color: rgb(171, 17, 17);
  font-size: 18px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background: #ffed4f;
}

ul {
  margin-top: 20px;
}

li {
  list-style: none;
  background: rgba(255,255,255,0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 0.3s ease;
  transition: 0.3s;
}

li:hover {
  transform: translateY(-2px);
  background: rgba(255,255,255,0.3);
}

.task-text {
  flex: 1;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions button {
  margin-left: 5px;
  font-size: 12px;
  padding: 5px 8px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}
