body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  margin-top: 20px;
  width: 250px;
}

img {
  margin-top: 20px;
  border-radius: 50%;
}
